*{
    box-sizing: border-box;
}
.dropdown{
    margin: 16px;
    position: absolute;
}
.menu-button{
position: relative;
top: 16px;
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    font-size: 16px;
    color: white;
}
.menu-list{
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    position: absolute;
    top: 48px;
    z-index: 1;
    list-style-type: none;
}
.menu-item{
    padding: 16px;
}
.dropdown:hover .menu-list{
    display: block;
}
.dropdown:hover .menu-button{
    opacity: 1;
}
.menu-item:hover{
    background-color: ghostwhite;
}